*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777777;

}

.image{
    height: 95vh;
    width: 100%;
}
.onepage{
    position: relative;

}
.logo1{
    position: absolute;
    top:4rem;
    left:4rem;
    height:3.5rem;

}
.centeredofapage{
    position: absolute;
    top: 40%;
    left:50%;
}
.te{
    font-size: 4.5rem;
    color: white;
    margin-bottom: 3.5rem;
}
.re{
    background-color: deepskyblue;
    border-radius: 30%;
    padding: 1.5rem;
}