*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777777;

}

.image{
    height: 95vh;
    width: 100%;
}
.onepage{
    position: relative;

}
.logo1{
    position: absolute;
    top:35px;
    left:35px;
    height:30px;
    width:150px;
}