*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777777;

}

.image{
    height: 95vh;
    width: 100%;
}
.onepage{
    position: relative;

}
.logo1{
    position: absolute;
    top:4rem;
    left:4rem;
    height:3.5rem;

}
.centeredofapage{
    position: absolute;
    top: 35%;
    left:35%;



}
.te{
    font-size: 4.5rem;
    color: white;
    margin-bottom: 3.5rem;


}
.re{
    background-color: deepskyblue;
    border-radius: 10rem;
    padding: 1.5rem 4rem;
    margin-left: 8rem;

}
.text{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    padding: 2rem;
}
.t{
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 3rem;


}
.qq{
    width: 30%;
    margin-left: 10rem;

}
.ewr{
    width: 40%;
    margin-left: 5rem;
    padding: 2rem;
    position: relative;


}
.secondpage{
    margin-bottom: 4rem;
}

.s{
    position: absolute;
    top: 4rem;
    left: 14rem;
}
.sd{
    position: absolute;
    top: 10rem;
    left: 15%;
}
.sda{
    position: absolute;
    left: 15px;
    top: 2rem;
}
.secondpage{
    height: 95vh;
}
.ad{
    margin-bottom: 1rem;
}
.ii{
    margin-bottom: 2rem;
}
.thirdpage{
    background-color: green;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}
.health,.healthier,.healthiest,.healthy{




}
.a,.as,.z,.y{
    margin-top: 40%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
    margin-left: 3rem;
    margin-right: 3rem;

    height: 30%;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    color: white;
    padding: 2.5rem;

}


.fourthpage{
    background-color: #f7f7f7;
    height: 90vh;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.screen{
    height: 10rem;

}
.astute{
    position: absolute;
    top:10rem;
    left: 6rem;
    font-size: 3rem;

}
.print {
    color: red;
    font-size: 2rem;
    text-align: center;
}
.er{
    width: 15rem;
    margin: 0 auto;
}
.newfourth,.newfourt,.newfour{
    background-color:white;
    height: 30rem;

    width: 25%;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;

}
.newfourth .screen{
    width: 100%;
}
.newfour .screen{
    width: 100%;
}
.newfourt .screen{
    width: 100%;
}






